/* wrapper */
.main-container__content--dashboard-wrapper {
  padding: 0.9rem 1rem;
}

/* search title */
.search-title {
  font-size: var(--size-xl);
  font-weight: 300;
  text-align: center;
}

/* edit container */
.edit-container {
  display: flex;
  gap: 0.5rem;

  margin-top: 1rem;
}

/* xs */
/* @media(min-width:475px){} */

/* sm */
/* @media(min-width:640px){} */

/* md */
/* @media(min-width:768px){} */

/* lg*/
/* @media (min-width: 1024px) {} */

/* xl*/
/* @media(min-width:1280px){} */

/* 2xl */
/* @media(min-width:1536px){} */
