/* wrapper */
.main-container__content--dashboard-wrapper {
  padding: 0.9rem 1rem;
}

/* search title */
.search-title {
  font-size: var(--size-xl);
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}

/* edit container */
.edit-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;

  border: 1px solid #2d4c8b;
  padding: 0.8rem;
  border-radius: 5px;
  background: #1d3159;
  margin-top: 1rem;
}

/* image and text conntainer */
.edit-container___img-and-text-container {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  gap: 1rem;
}

/* image container */
.edit-image-container {
  /* width: 123px;
  height: 112px;
  object-fit: cover; */

  display: none;
}
/* image */
/* .edit-container___img-and-text-container--img {
  display: none;
} */

/* text */
.edit-container___img-and-text-container--text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
/* paragraph text */
.edit-text {
  font-size: var(--size-xs);
}

/* edit button  container*/
.edit-btn-container {
}

.edit-btn {
  padding: 9px 18px;
  font-size: var(--size-xs);
}
.edit-container__subtitle {
  margin-top: 1.5rem;
}

/* all blog text */
.edit-container__subtitle::after {
  content: " _________________________";
}
/* xs */
@media (min-width: 475px) {
  /* edit container */
  .edit-container {
    flex-wrap: nowrap;
  }

  /* paragraph text */
  .edit-text {
    font-size: var(--size-sm);
  }

  .edit-btn {
    font-size: var(--size-sm);
  }
}

/* sm */
@media (min-width: 640px) {
  /* paragraph text */
  .edit-text,
  .edit-btn {
    font-size: var(--size-base);
  }
}

/* md */
@media (min-width: 768px) {
  /* image container */
  .edit-image-container {
    display: block;
    width: 123px;
    height: 112px;
    object-fit: cover;
  }

  /* image */
  .edit-container___img-and-text-container--img {
    /* display: flex; */
    width: 100%;
  }
  /* btn */
  .edit-btn {
    padding: 12px 35px;
  }

  .edit-container__subtitle::after {
    content: " __________________________________________________________________________";
  }
}

/* lg*/
@media (min-width: 1024px) {
  /* .edit-container___img-and-text-container--img {
    display: flex;
  } */

  .edit-container__subtitle::after {
    content: " ______________________________________________________________________________________________";
  }
  /* image
  .edit-container___img-and-text-container--img {
    width: 30%;
  } */

  /* texts */
  .edit-text,
  .edit-btn {
    font-size: var(--size-xs);
    /* font-weight: 300; */
  }

  .edit-btn {
    padding: 9px 25px;
  }
}

/* xl*/
@media (min-width: 1280px) {
  .edit-container__subtitle::after {
    content: " ___________________________________________________________________________________________________________";
  }
}

/* 2xl */
/* @media(min-width:1536px){} */
.no-message {
  text-align: center;
  font-size: var(--size-2xl);
  margin-top: 5rem;
}
.edit-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 11px;
}
