<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title form validate</title>
    <link rel="stylesheet" href="./test.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/index.html" class="user-form">
      <input type="text" id="username" name="username" placeholder="Username" />
      <br />
      <span class="error" id="error-username"></span>
      <br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <br />
      <span class="error" id="error-password"></span>
      <br />

      <input
        type="password"
        id="confirm-password"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <span class="error" id="error-confirm-password"></span>
      <br />
      <br />

      <button>Submit</button>
    </form>

    <script src="showFormErrors.js"></script>
    <script src="test.js"></script>
  </body>
</html>
