.blogs {
  display: none;
}

/* blog title */
.blog-title {
  font-size: var(--size-4xl);
  font-weight: 400;
  text-align: center;
  color: var(--clr-light);
}
/* container blog */
.blogs-container {
  margin-top: var(--size-3xl);
}

/* blog card container */
.blogs-container__cards {
  padding: 0 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* one card */
.blogs-container__cards-card {
  border: 2px solid #2c467a;
  padding: 12px;
  border-radius: 13px;
  box-shadow: 0px 2px 7px rgba(104, 116, 221, 0.25);
  /* width: 730px; */
}
.blogs-container__card-title {
  font-size: var(--size-3xl);
  color: var(--clr-light);
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
}

.blogs-container__card-title:hover {
  color: var(--clr-hover);
}

.blogs-container__cards-card--image-and-text-container {
  display: flex;
  flex-direction: column;
}
/* text container */
.blogs-container__cards-card--texts-container {
  margin-top: var(--size-2xl);
}
/* paragraph */
.blogs-container__card-description {
  font-size: var(--size-xl);
  color: var(--clr-text);
  margin-top: var(--size-xxs);
}
/* next button */
.slide-button-container-left {
  position: absolute;
  top: 208px;
  left: 6px;

  border: 1px solid;
  border-radius: 50%;
  padding: 0.5rem;
}
/* main container */
.like-and-comment-container {
  display: flex;
  justify-content: space-between;
}
/* comment and like container */
.blogs-container__card-likes-and-comments-container {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-2xl);
  gap: 0.85rem;
}
/* writer container */
.blogs-container__card-likes-and-comments-container--writer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: flex-start;
}

/* blog writer */
/* image */
.writer-image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.writer {
  font-size: var(--size-base);
}

.blogs-container__card-likes-and-comments-container--comments-likes {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
/* heart (like) icon */
.like-icon {
  width: 4%;
  fill: white;
  stroke: none;
  cursor: pointer;
}
.comment-icon {
  width: 17%;
  fill: #28396d;
  cursor: pointer;
}
/* comment container */
.comments {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2rem;
}

/* span text for previous button */
.right {
  position: absolute;
  top: 208px;
  right: 0;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 50%;
}

/* card 2 */
.card-2,
.card-3 {
  display: none;
}

.next-slide-bublle-container {
  left: 157px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.next-slide-bublle-container__item {
  display: inline-block;

  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}
.active__blog {
  background-color: var(--clr-hover);
}
/* xs */
/* @media(min-width:475px){} */

/* sm */
@media (min-width: 640px) {
  .blogs-container__card-title {
    font-size: var(--size-2xl);
  }
  .blogs-container__card-description {
    font-size: var(--size-sm);
  }
  .writer {
    font-size: var(--size-sm);
  }
  .like-number,
  .comment-number {
    display: inline-block;
    font-size: var(--size-xs);
  }

  /* image */
  .blog-image {
    width: 100%;
  }
  /* blog card */
  .card-2 {
    display: block;
  }
  /* blog container */
  .blogs-container__cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

/* md */
@media (min-width: 768px) {
  .card-2 {
    display: block;
  }
  .card-3 {
    display: none;
  }
  .blogs-container__cards {
    display: flex;
    flex-direction: column;
  }
  .blogs-container__card-title {
    font-size: var(--size-2xl);
  }
  .blogs-container__card-description {
    font-size: var(--size-base);
  }
  .writer {
    font-size: var(--size-sm);
  }

  .like-number,
  .comment-number {
    display: inline-block;
    font-size: var(--size-base);
  }
}

/* lg*/
@media (min-width: 1024px) {
  .card-2,
  .card-3 {
    display: block;
  }

  .blogs-container__cards {
    display: flex;
    flex-direction: row;
  }
}

/* xl*/
/* @media(min-width:1280px){} */

/* 2xl */
/* @media(min-width:1536px){} */
.swiper-container {
  height: 500px;
  background-color: black;
}
.swiper-card {
  width: 31%;
  border: 1px solid;
  padding: 1rem;
}

/* ********************************************************************* */
/* **************************** TESTING ***************************************** */
/* ********************************************************************* */
#blog-test-1 {
  display: none;
}
.blog {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  background-color: grey;
  padding: 40px 0;
}
.card {
  border-radius: 25px;
  padding: 1rem;
  border: 2px solid #2c467a;
  padding: 12px;
  border-radius: 13px;
  box-shadow: 0px 2px 7px rgba(104, 116, 221, 0.25);
}
.card-image {
  position: relative;
  height: 257px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ************************************************************** */
/* swiper css*/
/* ************************************************************** */

.blog2 {
  background: #000000;
  display: none;
}

/* card wide */
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 1rem;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

/* ************************************************************** */
/* new test slie css working 95%*/
/* ************************************************************** */

.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
}
/*  */
.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding: 20px;
  flex: none;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10% auto; */
  margin: 0 auto;
}

#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 4px;
}

.card {
  filter: grayscale(30%);
  transition: transform 0.5s;
}
.card:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.03);
}

/* xs */
/* @media(min-width:475px){} */

/* sm */
@media (min-width: 640px) {
  .card-container {
    width: 100%;
  }
}

/* md */
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: auto;
    width: 50%;
  }
}

/* lg*/
/* @media(min-width:1024px){} */

/* xl*/
/* @media(min-width:1280px){} */

/* 2xl */
/* @media(min-width:1536px){} */
.card-blog-link {
  text-decoration: none;
}
.icon-sizes {
  width: 25px;
}

.card {
  width: 400px;
}
/* ***************** projects */
.project_link_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project_link_container-img {
  width: 7%;
}

.project_link_container-img:hover {
  cursor: pointer;
  background-color: var(--clr-hover);
  border-radius: 20px;
  cursor: pointer;
}
.project_link_container-status {
  background-color: #083e70;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}

.project_type {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin: 1rem 0;
}
