/* .skills {
} */
/* container */
.skills__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* text container */
.skills__container-text {
  text-align: center;
  padding: 0 1rem;
}

/* title */
.skills__container-text--title {
  color: var(--clr-light);
  font-size: var(--size-4xl);
}
/* paragraph */
.skills__container-text--description {
  color: var(--clr-text);
  font-size: var(--size-lg);
  margin-top: var(--size-base);
}
/* image list */
.skills__container-img--list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: flex-end; */
  /* justify-content: space-evenly; */
  /* gap: 2rem; */

  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 1.5rem;
  padding-left: 0;
  margin-top: var(--size-5xl);
}
/* skills icon */
.skills__container-img--list-icon {
  width: 55%;
}
/* image container */
.skills__container--second-container {
  display: none;
}

/* xs */
/* @media(min-width:475px){} */

/* sm */
@media (min-width: 640px) {
  /* paragraph */
  .skills__container-text--description {
    padding: 0 4rem;
  }
}

/* md */
@media (min-width: 768px) {
  /* paragraph */
  .skills__container-text--description {
    padding: 0 5rem;
    font-size: var(--size-2xl);
  }
  /* skills icon */
  .skills__container-img--list-icon {
    width: 85%;
  }
}

/* lg*/
@media (min-width: 1024px) {
  .skills__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .skills__container--second-container {
    display: block;
  }
  /* skills icon */
  .skills__container-img--list-icon {
    /* width: 57%; */
    /* width: 72%; */
    width: 75%;
  }

  /* text */
  .skills__container-text {
    text-align: left;
    padding: 0;
  }
  /* paragraph */
  .skills__container-text--description {
    font-size: var(--size-xl);
    margin-top: var(--size-3xl);
    padding: 0;
    width: 85%;
  }
  .skills__container-text--title {
    font-size: var(--size-4xl);
    font-weight: 200;
  }
  /* icon container*/
  .skills__container--second-container {
    width: 80%;
  }
  /* icon list */
  .skills__container-img--list {
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
  }
}

/* xl*/
@media (min-width: 1280px) {
  .skills__container-text--title {
    font-weight: 200;
  }
  .skills__container--second-container--image {
    /* width: 80%; */
    width: 63%;
  }

  .skills__container-img--list {
    margin-top: var(--size-8xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  /* paragraph */
  .skills__container-text--description {
    font-size: var(--size-lg);
  }
  /* image container */
  /* .skills__container--second-container {
    display: flex;
    justify-content: flex-end;
  } */
}
