:root {
  /* colors */
  --clr-main: #091733;
  --clr-light: #e4e7f7;
  /* #94A3EB */
  /* --clr- */
  /* --clr-text: #2c2c2c; */
  /* --clr-text: #2c2c2c; */
  --clr-text: #ffffff87;
  --clr-hover: #5161f1;
  --clr-contact-gray: #d9d9d9;
  --clr-contact-text: #2c2c2c;
  --clr-blog: #555;
  /********************************/
  /* Comment colors */
  /********************************/
  /* --clr-comments-bubble: #a6bdc2; */
  --clr-comments-bubble: #a6bdc26e;
  --clr-comments-bubble-2: #8bb5df;
  /********************************/
  /* Dashboard colors */
  /********************************/
  --clr-dashboard-bg: #000c24;
  --clr-header-and-sidebar: #2b313c;
  --clr-text: #ececec;
  /* main color inside dashboard */
  --clr-inside-dashboard: #152545;
  /* small stats boxs */
  --clr-dashboard-box: #283c63;
  /* -querries box */
  --clr-dashboard-box--querries: #d802dc7a;
  --clr-dashboard-box--like: #87081959;
  --clr-dashboard-box--blog: rgba(70 220 181 / 20%);
  --clr-dashboard-box--comment: rgba(216 168 0 / 23%);
  /* box shadow value in rgb*/
  /* --clr-main: rgb(9, 23, 51); */
  /* --clr-hover: rgb(81, 97, 241); */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "League Spartan", sans-serif; */
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
  /* background-position: left; */

  /* background-image: url(../../images/background-image.svg); */
  /* background-repeat: no-repeat; */
  font-family: "Inter", sans-serif;
  background-color: var(--clr-main);
  color: var(--clr-text);
  font-weight: normal;
}

img,
picture,
video,
svg,
canvas {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  /* color: var(--clr-hover); */
  color: var(--clr-light);
  font-weight: 400;
}
